Varianta03_2007_sbIII_pb1/.idea/vcs.xml
Varianta03_2007_sbIII_pb1/.idea/workspace.xml
Varianta03_2007_sbIII_pb1/.idea/workspace.xml
Varianta03_2007_sbIII_pb1/.idea/
Varianta03_2007_sbIII_pb1/Varianta03_2007_sbIII_pb1.iml
tets/.idea/
tets/.gradle/
tets/gradle/
tets/build/
tets/settings.gradle
tets/gradlew.bat
tets/gradlew