Varianta03_2007_sbIII_pb1/.idea/vcs.xml
Varianta03_2007_sbIII_pb1/.idea/workspace.xml
Varianta03_2007_sbIII_pb1/.idea/workspace.xml
Varianta03_2007_sbIII_pb1/.idea/
Varianta03_2007_sbIII_pb1/Varianta03_2007_sbIII_pb1.iml
tets/.idea/
tets/.gradle/
tets/gradle/
tets/build/
tets/settings.gradle
tets/gradlew.bat
tets/gradlew
*.bin
*.idea/
*.gradle/
*.build/
*.settings.gradle
*.gradlew
Var05_2007_sbIII_pb1/gradle/wrapper/gradle-wrapper.jar
Var05_2007_sbIII_pb1/gradle/wrapper/gradle-wrapper.properties
Var05_2007_sbIII_pb1/gradlew
tets/src/main/java/test.java
tets/build.gradle
Var05_2007_sbIII_pb1/out/production/classes/Matrix.class
Var05_2007_sbIII_pb1/out/test/classes/MatrixTest.class
Var05_2007_sbIII_pb1/gradlew.bat
Varianta03_2007_sbIII_pb2/.idea/compiler.xml
Varianta03_2007_sbIII_pb2/.idea/encodings.xml
Varianta03_2007_sbIII_pb2/.idea/compiler.xml
Varianta03_2007_sbIII_pb2/.idea/encodings.xml
